:root{
    --main-bg: #efefef;
    --bg-color: #F8F8F8;
    --btn-bg: #A5DD9B;
    --btn-hover: #88AB8E;
    --secondary-text: #c0c1bf;
    --primary-color: #333333;
    --primary-green: #03C988;
    --primary-dark-grey: #8c8b8b;
}


.productpage-main-container{
    width: 100%;
    padding: 1rem;
    display: flex;
    gap: 0 1rem;
}
.productpage-main-container .productpage-inner-container{
    width: 100%;   
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.productpage-left-container{
    max-width: 42vw;
    background-color: transparent;
    background-color: #fff;
    height: 600px;
}
.productpage-right-container{
    max-width: 58vw;
    background-color: #fff;
    align-items: flex-start;
    padding: 4rem 2rem;
    height: fit-content;
}
.productpage-content-contianer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0.9rem;
}
.productpage-content-contianer .product-name{
    font-size: 2.3rem;
    color: #333;
    /* color: #03C988; */
}
.productpage-content-contianer .product-rating-review-box{
    display: flex;
    align-items: center;
    gap: 0 1rem;
}
.product-rating-review-box .product-rating{
    background-color: var(--primary-green);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    padding: 0.5rem 0.7rem;
    border-radius: 10px;
    font-size: 0.9rem;
    font-weight: 500;
}
.product-rating-review-box .product-review-count span{
    margin: 0 0.4rem;
    color: #03C988;
    font-weight: 500;
}
.productpage-content-contianer .product-qty{
    font-size: 1.2rem;
    font-weight: 500;
    color: #333333;
}
.productpage-content-contianer .product-qty span{
    font-weight: 400;
}
.productpage-content-contianer .product-price{
    font-size: 1.2rem;
    font-weight: 500;
}
.productpage-content-contianer .product-price .material-symbols-outlined{
    font-size: 1.15rem;
    font-weight: 500;
}
.productpage-content-contianer .product-price .tax-inc{
    margin-left: 1rem;
    color: #00bb92;
    font-size: 1.1rem;
}
 .product-mrp{
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    color: #8e8e8e;
}
.productpage-content-contianer .product-mrp .material-symbols-outlined{
    font-size: 1.1rem;
    font-weight: 500;
    
}
.productpage-content-contianer .product-btn-box{
    display: flex;
    gap: 0 1rem;
}
.productpage-content-contianer .product-btn-box button{
    width: 15rem;
    height: 3.5rem;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 0 0.9rem;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.productpage-content-contianer .product-btn-box button:hover{
    background-color: #333;
}
.productpage-content-contianer .product-btn-box .add-To-Basket-Btn{
    background-color: #03C988;
    color: #fff;
}
.productpage-content-contianer .product-btn-box .buy-now-btn{
    background-color: #efefef;
}
.productpage-content-contianer .product-btn-box .buy-now-btn:hover{
    color: #fff;
}
.productpage-content-contianer .product-btn-box .add-to-saved-items{
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.5rem;
    color: #333333;
}
.productpage-content-contianer .product-btn-box .add-to-saved-items:hover{
    background-color: #efefef;
}
.product-description-box, .product-quantity-box{
    display: flex;
    flex-direction: column;
    gap: 1.5rem 0;
    margin-top: 1.2rem;
}
.product-seller-desc-box, .product-quantity-container{
    display: flex;
    align-items: center;
    padding: 0 1rem;
    gap: 3rem;
}

.product-desc-title, .product-quantity-title{
    font-size: 1.3rem;
}
.product-seller-desc-box .product-seller-desc{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.product-desc{
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: #8c8b8b;
}
.product-seller-desc-box .product-seller-desc .product-seller-desc-icon-box{
    border: 2px solid #c3c3c3;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: #c3c3c3;
    font-size: 1.2rem;
}
.product-seller-desc-content{
    font-size: 0.9rem;
}
.product-seller-desc-content h4{
    font-weight: 600;
    color: #333333;
}
.product-seller-desc-content p{
    font-weight: 400;
    color: #8c8b8b;
}
.product-quantity-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 2rem;
    padding: 0 1rem;
}
.product-quantity-container .product-qty{
    /* border: 2px solid #03C988; */
    color: #03c988;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 3rem;
    border-radius: 5px;
    border: none; 
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.product-quantity-container .product-qty:hover{
    background-color: #333333;
    color: #fff;
}

.productpage-image-container{
    width: 80%;
    height: 85%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.product-main-image-container{
    width: 100%;
    height: 100%;
    /* border: 2px solid blue; */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #c3c3c3;
}
.product-main-image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product-sub-image-container{
    width: 100%;
    height: 7.5rem;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
    /* gap: 0 0.8rem; */
}
.product-sub-image-container .product-sub-image-box{
    height: 100%;
    width: 7.5rem;
    /* border: 2px solid green; */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #c3c3c3;
}
.product-sub-image-container .product-sub-image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}





/* product list page style starts here */
.product_list_main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 10px;
    overflow: hidden; /* Hide scrollbar */
}

.product-list-filter-container form{
    display: flex;
    flex-direction: column;
    gap: 0.1rem 0;
}

.product-list-filter-container {
    width: 18%;
    border-radius: 10px;
    position: sticky; /* Fix at top left */
    top: 0;
    background-color: transparent; /* No background color */
    /* border: 2px solid green; */
    z-index: 1; /* Changed from -100 to 1 */
    padding: 1rem;
    padding-right: 0;
    height: 40rem;
    display: flex;
    flex-direction: column;
    gap: 0.1rem 0;
}

.product-list-filter-container .filter-container-title-box{
    width: 100%;
    background-color: #fff;
    padding: 0.7rem;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter-container-title-box .apply-filter{
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
    border: none;
    background-color: var(--primary-green);
    color: #fff;
    font-size: 0.8rem;
    transition: all 0.3 ease;
    cursor: pointer;
}
.filter-container-title-box .apply-filter:hover{
    background-color: #333;
}
.product-list-filter-container .filter-container-title{
    font-size: 1.1rem;
    font-weight: 500;
    color: #333;
}
.product-list-filter-container .filter-cards{
    width: 100%;
    background-color: #fff;
    padding: 1rem 0.7rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem 0;
}
.product-list-filter-container .filter-card-title{
    font-size: 1.1rem;
    font-weight: 500;
    color: #333;
}
.product-list-filter-container .filter-cards .filter-card-content-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem 0;
}
.price-filter-box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0 0.6rem;
    color: #333;
    font-weight: 400;
}
.price-filter-box input{
    width: 7rem;
    padding: 0.3rem;
    outline: none;
    border-radius: 4px;
    border: 1px solid #c0c1bf;
}
.product-list-product-container {
    /* border: 2px solid blue; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* flex-direction: column; */
    gap: 0.7rem;
    width: 82%;
    border-radius: 10px;
    background-color: transparent; /* No background color */
    padding: 1rem 0.8rem; 
}
.rating-filter-box{
    display: flex;
    /* justify-content: center; */
    gap: 0 1rem;
    margin-left: 1rem;
}
.rating-filter-box input[type="checkbox"]{

    width: 1rem;
    border-color: #c0c1bf;
}

.rating-filter-box p{
    display: flex;
    align-items: center;
}
.rating-filter-box p i{
    font-size: 0.9rem;
    margin: 0 0.3rem;
    color: #333;
}
.last-filter-card{
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}


.product-list-product-box {
    width: 100%;
    min-height: 25rem; 
    background-color: transparent; 
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.7rem;
}
.product-list-product-card{
    background-color: #fff;
    border-radius: 10px;
    height: 27rem;
    /* width: 19rem; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 0.8rem;
    gap: 0.4rem 0;
}
.product-list-product-card .product-image-container{
    width: 100%;
    height: 15rem;
    /* border: 2px solid red; */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.product-list-product-card .product-image-container img{
   height: 100%;
   width: 100%;
   object-fit: contain;
    
}
.product-list-product-card .product-content-container{
    width: 100%;
    /* height: 9.4rem; */
    /* border: 2px solid red; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
}
.product-title-box{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.product-title-box .product-qty{
    color: #8e8e8e;
}
.product-list-product-card .product-content-container .product-title{
    font-size: 1.1rem;
    font-weight: 500;
    color: #333;
}

.product-rating-box .material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  font-size: 1.2rem;
  outline: none;
}
.product-list-product-card .product-rating-box {
    display: flex;
    margin-top: 0.7rem;
    align-items: center;
    gap: 0 1rem;
}
.product-list-product-card .product-rating-box .product-rating{
    display: flex;
    align-items: center;
    background: var(--primary-green);
    padding: 0.3rem 0.4rem;
    border-radius: 6px;
    color: #fff;
    font-weight: 600;
}
.product-rating-box .product-review-count span{
    padding: 0 0.1rem;
    font-weight: 600;
}
.product-price-box{
    margin-top: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0 0.6rem;
}
.product-price{
    display: flex;
    align-items: center;
}
.product-price-box .material-symbols-outlined{
    font-size: 1.3rem;
    /* align-self: flex-end; */
}
.product-price-box .product-price{
    font-size: 1.5rem;
    font-weight: 600;
}
.product-price-box .product-mrp-amount{
    color: #8e8e8e;
    text-decoration: line-through;
}
.product-discount-box .product-discount{
    font-size: 0.9rem;
    font-weight: 500;
    color: #00bb92;
}
.product-btn-box{
    margin-top: 1rem;
}
.product-btn-box .product-btn{
    width: 100%;
    padding: 1rem 1.8rem;
    font-size: 1rem;
    font-weight: 500;
    background: var(--primary-green);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 8px;
    transition: all 0.3s ease;
}
.product-btn-box .product-btn:hover{
    background: #333;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .product_list_main-container {
        flex-direction: column; /* Stack containers vertically on smaller screens */
    }
    .product-list-filter-container {
        width: 100%;
        margin-right: 0;
    }
    .product-list-product-container {
        flex: none; /* Don't grow, let content dictate height */
        overflow-y: auto;
    }
    .product-list-product-card {
        height: auto; /* Let content dictate height */
    }
}

.product-quantity-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.product-quantity-container input[type="radio"] {
    display: none;
}

.product-quantity-container label {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 6rem;
    text-align: center;
}

.product-quantity-container input[type="radio"]:checked + label {
    background-color: #03C988;
    color: white;
    border-color: #03C988;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: all 0.2s ease;
}

.product-quantity-container label:hover {
    background-color: #03C988;
    color: white;
    border-color: #03C988;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* Additional CSS for Buy Now input */
.buy-now-btn {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buy-now-btn:hover {
    background-color: #218838;
}

/* Additional CSS for comment section */
.comment-section {
    margin-top: 20px;
}

.comment-section-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.comment-box {
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    padding: 10px;
    overflow-y: auto; /* Enable vertical scrollbar */
    max-height: 200px; /* Limit height to allow scrolling */
    
}

.comment-textarea {
    width: 100%;
    min-height: 100px;
    max-height: 150px;
    resize: none; /* Disable textarea resize */
    /* border: 2px solid #ccc; */
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    line-height: 1.4;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.comment-textarea::placeholder{
    font-size: 0.9rem;
    color: #333;
}

.comment-textarea:focus {
    outline: none;
    border-color: #03C988; /* Example of focus color */
}

.productpage-content-contianer .product-btn-box .button{
    width: 15rem;
    height: 3.5rem;
    border-radius: 5px;
    border: none;
      
    display: flex;
    align-items: center;
    gap: 0 0.9rem;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.productpage-content-contianer .product-btn-box .button input{
    font-size: 1rem;
    font-weight: 500;
}
.productpage-content-contianer .product-btn-box .add-To-Basket-Btn input{
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
}

.productpage-content-contianer .product-btn-box .add-To-Basket-Btn{
    background-color: var(--primary-green);
    color: #fff;
}
.productpage-content-contianer .product-btn-box .add-To-Basket-Btn:hover{
    background-color: #333;
    color: #fff;
}
.productpage-content-contianer .product-btn-box .buy-now-btn{
    background-color: #efefef;
}
.productpage-content-contianer .product-btn-box .buy-now-btn:hover input{
    color: #fff;
  
}
.productpage-content-contianer .product-btn-box .buy-now-btn:hover{
    background-color: #333;
}
.productpage-content-contianer .product-btn-box .add-to-saved-items{
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.5rem;
    color: #333333;
}
.productpage-content-contianer .product-btn-box .add-to-saved-items:hover{
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}