@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', 'Poppins', sans-serif;
}
:root{
    --main-bg: #efefef;
    --bg-color: #F8F8F8;
    --btn-bg: #A5DD9B;
    --btn-hover: #88AB8E;
    --secondary-text: #c0c1bf;
    --primary-color: #333333;
    --primary-green: #03C988;
    --primary-dark-grey: #8c8b8b;
}
body{
    background-color: var(--main-bg);
}
header{
    width: 100%;
    height: 88px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: sticky;
    top: 0;
    z-index: 10;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 1rem; */
    width: 85vw;
    margin: 0 auto;
}
nav .logo{
    width: 11.5rem;
}
.search-box{
    /* border: 2px solid black; */
    max-width: 45%;
    width: 100%;
    border-radius: 6px;
    background-color: var(--bg-color);
    padding: 0.8rem 0.7rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
}
.search-box span{
    color: var(--secondary-text);
}
.search-box input{
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    color: var(--primary-color);
    font-size: 1rem;
}
.search-box input::placeholder{
    color: var(--secondary-text);
    font-size: 1rem;
    font-weight: 400;
}
header .nav-icons-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
header .nav-icons-box .nav-icon a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    color: var(--primary-dark-grey);
    transition: all 0.2s ease;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: 1px 0;
    cursor: pointer;
}
header .nav-icons-box .nav-icon a:hover{
    color: var(--primary-green);
}
header .nav-icons-box .nav-icon p{
    font-size: 0.95rem;
    font-weight: 500;
}


/* cart count */
.cart-box {
    position: relative;
}

.cart-icon {
    position: relative;
}

.cart-count {
    position: absolute;
    top: -10px; /* Adjust based on your design */
    right: -10px; /* Adjust based on your design */
    width: 20px;
    height: 20px;
    background-color: #03C988; /* Green color */
    color: #fff; /* White color for text */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem; /* Adjust based on your design */
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


header .login-btn{
    width: 8rem;
    padding: 0.9rem 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    outline: none;
    border: none;
    border-radius: 7px;
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--primary-green);
    color: #ffffff;
    transition: all 0.2s ease;
    cursor: pointer;
}
header .login-btn:hover{
    background-color: var(--primary-color);
}
header .nav-icon .profile-pic-box{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid var(--primary-dark-grey);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
}
header .nav-icon .profile-pic-box img{
    width: 100%;
}
header .profile-pic-hidden{
    display: none;
}

/* login-form style starts */
.login-form-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 85px);
    width: 100%;
    /* border: 2px solid green; */
}
.form-container{
    width: 53vw;
    height: 70vh;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.log-form{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}
.form-image-container{
    background-color: #ffffff;
}
.form-image-container img{
    width: 100%;
}
.form-content-container{
    background-color: #000000;
}
.form-content-container form{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem 0;
    /* border: 2px solid red; */
}
.form-content-container form .form-title{
    font-size: 2rem;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 2rem;
}
.form-content-container form .input_box{
    width: 100%;
    padding: 0.8rem 0.7rem;
    /* border: 2px solid var(--primary-color); */
    display: flex;
    align-items: center;
    gap: 0 1rem;
    border-radius: 6px;
    background-color: var(--bg-color);
}
.form-content-container form .input_box input{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
}
.form-content-container form .input_box input::placeholder{
    color: var(--primary-colort);
    font-size: 1rem;
    font-weight: 400;
}
.form-content-container form .option_field{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #ffffff;
}
.form-content-container form .option_field .forgot_pw{
    text-decoration: underline;
    color: #ffffff;
    font-weight: 600;
}
.form-content-container .form-btn{
    width: 90%;
    padding: 0.6rem;
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: var(--primary-green);
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 1rem;
}
.form-content-container .form-btn:hover{
    background-color: #2F8886;
}
.form-content-container .login_signup{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 0.8rem;
    color: #ffffff;
    margin-top: 1.5rem;
}
.form-content-container .login_signup a{
    text-decoration: underline;
    color: var(--primary-green);
    font-weight: 600;
    font-size: 0.95rem;
}
.form-content-container .submit-btn{
    padding: 1rem 6rem;
    background-color: var(--primary-green);
}
/* login-form style ends */



/* browse by category section  */

.browse-category-section{
    background-color: white;
    margin: 0 1rem;
    margin-top: 1rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.browse-category-container{
    margin: 0 auto;
    width: 84vw;
    display: flex;
    flex-direction: column;
    gap: 1rem 0;
    padding: 2rem 0;
}
.browse-category-txt-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.browse-category-txt{
    color: #333333;
    font-size: 1.2rem;
    font-weight: 600;
}
.browse-category-txt span{
    color: var(--primary-green);
}
.browse-category-arrow-box{
    display: flex;
    align-items: center;
    gap: 0 0.6rem;
}
.arrow-box{
    /* border: 2px solid; */
    padding: 0.15rem 0.55rem;
    background-color: #f3f3f3;
    border-radius: 0.4rem;
    border: none;
    transition: all 0.2s ease;
    cursor: pointer;
}
.arrow-box:hover{
    background-color: #3FC979;
    color: white;
}

.browse-category-swiper-container{
    display: flex;
    align-items: center;
    margin-top: 0.8rem;
    width: 100%;
}
.category-slider-wrapper{
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
}

.category-card-list {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    gap: 0 1.2rem;
    font-size: 0;
    padding: 0.5rem 0.3rem;
    /* border: 2px solid red; */
}

.category-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2rem 0;
    min-width: 8rem;
    min-height: 8.4rem;
    border-radius: 0.8rem;
    background-color: #ececec68;
    transition: all 0.4s ease;
    cursor: pointer;
    align-content: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.category-card:hover{
    background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.category-icon-box{
    width: 3.5rem;
    display: flex;
    justify-content: center;
}
.category-image{
    width: 100%;
}
.category-item-name{
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: #4d4d4d;
}


/* feature section style starts here */
.feature-section {
    padding: 2rem 0;
    padding-bottom: 4rem;
    background-color: white;
    margin: 0 1rem;
    margin-top: 1rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.feature-container {
    width: 84vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    gap: 1.5rem; /* Adjusted gap */
}

.feature-box {
    flex: 1; /* Equal width for all feature boxes */
    background-color: var(--bg-color);
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    transition: all 0.3s linear;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.feature-box:hover{
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2); /* Added box-shadow */
    transform: translateY(-10px);
}

.feature-image-box {
    width: 100%;
    height: 10rem; /* Set a fixed height for consistency */
    overflow: hidden; /* Ensure consistency in image overflow */
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-image {
    max-width: 100%; /* Ensure image fits inside its container */
    max-height: 100%; /* Ensure image fits inside its container */
    border: 2px solid transparent; /* Maintain consistent border size */
}
.feature-content-box{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.feature-title{
    font-size: 1.3rem;
    color: var(--primary-color);
}
.feature-para-box{
    margin-top: 0.8rem;
    padding: 0 2rem;
}
.feature-para{
    font-size: 0.85rem;
    color: var(--primary-dark-grey);
    font-weight: 400;
}
.feature-heading-box{
    width: 84vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.feature-heading{
    font-size: 3rem;
    font-weight: 700;
    color: #333333;
}
.feature-heading span{
    color: #3FC979;
}


* chatbot */
/* body{
    background-color: rgb(240, 240, 240);
} */
.main-container{
    width: 85vw;
    height: 100%;
    /* border: 2px solid red; */
    margin: 0 auto;
    position: relative;    
}
.chat-open-box{
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    border: 2.8px solid rgb(240, 240, 240);
    position: fixed;
    top: 85%;
    right: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.chat-open-box i{
    font-size: 1.3rem;
    color: white;
    /* border: 1px solid black; */
}
.chat-container{
    width: 22%;
    height: 28rem;
    background-color: white;
    position: fixed;
    top: 20%;
    right: 100px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    border-radius: 12px;
    overflow: hidden;
}
.chat-container.chathidden{
    visibility: hidden;
}
.chat-header{
    width: 100%;
    height: 14%;
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
    overflow: hidden;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 1.5rem;
}
.chat-icon-box{
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    background-color: white;
    background-image: url("/ASSETS/IMAGES/chatbot.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.chat-header-name{
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
}
.chat-input{
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ccc;
    padding: 5px 12px;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 8px 23px;
    padding-left: 6px;
}
.chat-input textarea{
    width: 100%;
    outline: none;
    border: none;    
    font-size: 0.8rem;
    resize: none;
    padding: 0px 5px;
    display: flex;
    align-items: center;
    color: #222222;
    /* border: 2px solid red; */
}
.chat-input textarea::placeholder{
    color: #ccc;
}
.chat-input span{
    /* visibility: hidden; */
    font-size: 1.12rem;
    color: #0ba360;
    cursor: pointer;
}
/* .chat-input textarea:valid ~ span{
    visibility: visible;
} */
.chatbox{
    overflow-y: auto;
    height: calc(100% - 27%);
    /* border: 2px solid red; */
    width: 100%;
    padding: 18px 15px 70px;
}
.chat{
    display: flex;
    gap: 0.5rem;
}
.chat span{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    /* background-color: red; */
    align-self: flex-end;
}
.chat span img{
    width: 100%;
}
.chat p{
    max-width: 65%;
    padding: 12px 16px;
    font-size: 0.8rem;
    background-color: #494949;
    color: white;
    border-radius: 10px 10px 0 10px;
}
.incoming p{
    color: #333;
    background-color: #f2f2f2;
    border-radius: 10px 10px 10px 0px;
}
.outgoing{
    margin: 18px 0;
    justify-content: flex-end;
}



.page-container{
    width: 85vw;
    height: 100vh;
    border: 2px solid red;
    margin: 0 auto;
}


/* footer css starts */
footer{
    background-color: #000000;
    padding: 3rem 0;
    margin-top: 1rem;
}
footer .footer-container{
    width: 85vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
footer .footer-container .footer-row{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0 10rem;
    padding: 1rem 0;
    padding-bottom: 2rem;
    border-bottom: 2px solid #d4d4d44c;
}
footer .footer-container .footer-col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.2rem 0;
}
footer .footer-container .footer-col .white-logo{
    width: 11.5rem;
}
footer .footer-container .footer-col h4{
    color: #ffffff;
    font-size: 1.1rem;
    padding-bottom: 0.4rem;
    border-width: 12px;
    border-bottom: 2px solid var(--primary-green);
}
footer .footer-container .footer-col ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.4rem;
}
footer .footer-container .footer-col ul li a{
    color: var(--secondary-text);
    font-size: 0.9rem;
    transition: all 0.3s ease;
}
footer .footer-container .footer-col ul li a:hover{
    margin-left: 6px;
}
footer .footer-container .footer-col .social-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
footer .footer-container .footer-col .social-links a{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: #6c717d;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .footer-container .footer-col .social-links i{
    font-size: 1.2rem;
    color: #fff;
    transition: all 0.3s ease;
}
footer .footer-container .footer-col .social-links i:hover a{
    color: #fff;
    background-color: var(--primary-green);
}
footer .footer-container .footer-contact-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}
footer .footer-container .footer-contact-row .footer-contact-row-ele{
    display: flex;
    align-items: center;
    gap: 0 0.7rem;
    color: white;
}
