<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | Saarthi</title>
    <link rel="stylesheet" href="/CSS/style.css" />
    <link
      rel="shortcut icon"
      href="/ASSETS/IMAGES/favicon.png"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
</head>
<body>
    <!-- header start here -->
    <header>
        <nav>
            <!-- left box -->
            <div class="logo-box">
                <a href="/">
                    <img src="/ASSETS/IMAGES/logo.png" alt="logo" class="logo" />
                </a>
            </div>

            <!-- middle box -->
            <div class="search-box">
                <span class="material-symbols-outlined">search</span>
                <input
                    type="text"
                    placeholder="Search for Vegetables, Fruits & Groceries..."
                    class="search-input"
                />
            </div>

            <!-- right box -->
            <div class="nav-icons-box">
                <div class="nav-icon become-seller-box">
                    <span class="material-symbols-outlined">storefront</span>
                    <p>Become a Seller</p>
                </div>
                <div class="nav-icon cart-box">
                    <div class="cart-icon">
                        <span class="material-symbols-outlined">shopping_basket</span>
                        <div class="cart-count"></div>
                    </div>
                    <p>Basket</p>
                </div>
                <div class="nav-icon login-profile-box">
                    <div class="profile-pic-hidden">
                        <img src="/ASSETS/IMAGES/profile-picture.jpg" alt="profile pic" />
                    </div>
                    <a href="">
                        <button class="login-btn">
                            <span class="material-symbols-outlined">person</span>Login
                        </button>
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <!-- header ends here -->

    <!-- login form starts here -->
    <section class="login-form-section">
        <div class="form-container">
            <div class="form-image-container log-form">
                <img
                    src="/ASSETS/IMAGES/login-image.jpg"
                    alt="login image"
                    class="form-image"
                />
            </div>
            <div class="form-content-container log-form">
                <form action="/login" method="post">
                    <!-- title -->
                    <h2 class="form-title">Login</h2>

                    <!-- email-input -->
                    <div class="input_box">
                        <i class="fa-regular fa-envelope email"></i>
                        <input
                            type="email"
                            name="email"
                            id="email"
                            placeholder="Email"
                            required
                        />
                    </div>

                    <!-- password input -->
                    <div class="input_box">
                        <i class="fa-solid fa-lock password"></i>
                        <input
                            type="password"
                            name="password"
                            id="password"
                            placeholder="Password"
                            required
                        />
                        <i class="fa-solid fa-eye-slash eye-slash pw_hide"></i>
                    </div>
                    <span id="error-msg" style="color: red;"><%= errorMsg %></span><br>
                    <!-- remember me and forget password -->
                    <div class="option_field">
                        <span class="checkbox">
                            <input type="checkbox" name="" id="check" />
                            <label for="check">Remeber me</label>
                        </span>
                        <a href="/forgetPassword" class="forgot_pw"
                            >Forgotten Password?</a
                        >
                    </div>

                    <!-- login button -->
                    <button class="form-btn">Login</button>

                    <div class="login_signup">
                        <span>Don't have account?</span> <a href="/signup">Register</a>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <!-- footer section starts here -->
    <footer class="footer-section">
        <div class="footer-container">
            <div class="footer-row">
                <div class="footer-col">
                    <a href="/HTML/index.html">
                        <img
                            src="/ASSETS/IMAGES/white-logo.png"
                            alt="logo"
                            class="white-logo"
                        />
                    </a>
                </div>
                <!-- column 1 -->
                <div class="footer-col">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Our Services</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">affiliate Program</a></li>
                    </ul>
                </div>

                <!-- column 2 -->
                <div class="footer-col">
                    <h4>Help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Return Policy</a></li>
                        <li><a href="#">Order Status</a></li>
                        <li><a href="#">Payment Options</a></li>
                    </ul>
                </div>

                <!-- column 3 -->
                <div class="footer-col">
                    <h4>Categories</h4>
                    <ul>
                        <li><a href="#">Vegetables</a></li>
                        <li><a href="#">Fruits</a></li>
                        <li><a href="#">Groceries</a></li>
                    </ul>
                </div>

                <!-- column 4 -->
                <div class="footer-col">
                    <h4>Follow Us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="footer-contact-row">
                <div class="footer-contact-no footer-contact-row-ele">
                    <i class="fa-solid fa-phone"></i> +91-7739226540
                </div>
                <div class="footer-contact-email footer-contact-row-ele">
                    <i class="fa-solid fa-envelope"></i>saarthi@contact.in
                </div>
                <div class="footer-copyright footer-contact-row-ele">
                    <i class="fa-solid fa-copyright"></i>Copyright 2023 - 2024
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
