<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="shortcut icon" href="/ASSETS/IMAGES/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />  
    <title>QR Code</title>
    <style>
        body{
            background-color: #ccc;
        }
        .qr-payment-container{
            width: 85vw;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .payment-box{
            width: 25rem;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem 0;
            padding: 3rem 0;
            border-radius: 10px;
        }
        .payment-box #qrcode{
            height: 10rem;
            width: 10rem;
            border-radius: 10px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #total-amount{
            color: #333;
            font-size: 1.1rem;
        }
    </style>
</head>
<body>

    <!-- header start here -->
    <header>
        <nav>
            <!-- left box -->
            <div class="logo-box">
                <a href="/"><img src="/ASSETS/IMAGES/logo.png" alt="logo" class="logo"></a>
            </div>

            <!-- middle box -->
            <div class="search-box">
                <span class="material-symbols-outlined">search</span>
                <input type="text" placeholder="Search for Vegetables, Fruits & Groceries..." class="search-input">
            </div>

            <!-- right box -->
            <div class="nav-icons-box">
                <div class="nav-icon become-seller-box">
                   <a href="/seller-login"><span class="material-symbols-outlined">storefront</span>
                    <p>Become a Seller</p>
                </a> 
                </div>
                <div class="nav-icon cart-box">
                    <a href="/cart" style="color: #8c8b8b ">
                        <div class="cart-icon">
                            <span class="material-symbols-outlined">shopping_basket</span>
                        </div>
                        <p>Basket</p>
                    </a>
                    
                </div>
                <div class="nav-icon login-profile-box">
                    <div class="profile-pic-hidden" id="avatar"><img src="/ASSETS/IMAGES/profile-picture.jpg" alt="profile pic"></div>
                    <a href="/login"><button class="login-btn" id="loginButton"><span class="material-symbols-outlined">person</span>Login</button></a>
                </div>
            </div>
        </nav>
    </header> 
    <!-- header ends here -->

    <section class="qr-payment-section">
        <div class="qr-payment-container">
            <div class="payment-box">
                <h1>Scan the QR to Pay</h1>
                <canvas id="qrcode"></canvas>
                <input type="hidden" id="grand-total-value" value="<%= grandTotal %>">
                <p id="total-amount">Amount to pay: </p>
                <form action="">
                    <input type="text" id="payer-upi-id" placeholder="Transaction ID: ">
                </form>
                <button class="button" onclick="sendPaymentRequest()">Send Request</button>
            </div>
        </div>
    </section>

    <!-- footer section starts here -->
    <footer class="footer-section">
        <div class="footer-container">
            <div class="footer-row">
                <div class="footer-col">
                    <a href="/HTML/index.html"><img src="/ASSETS/IMAGES/white-logo.png" alt="logo" class="white-logo"></a>
                </div>
                <!-- column 1 -->
                <div class="footer-col">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Our Services</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">affiliate Program</a></li>
                    </ul>
                </div>

                <!-- column 2 -->
                <div class="footer-col">
                    <h4>Help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Return Policy</a></li>
                        <li><a href="#">Order Status</a></li>
                        <li><a href="#">Payment Options</a></li>
                    </ul>
                </div>

                <!-- column 3 -->
                <div class="footer-col">
                    <h4>Categories</h4>
                    <ul>
                        <li><a href="#">Vegetables</a></li>
                        <li><a href="#">Fruits</a></li>
                        <li><a href="#">Groceries</a></li>
                    </ul>
                </div>

                <!-- column 4 -->
                <div class="footer-col">
                    <h4>Follow Us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="footer-contact-row">
                <div class="footer-contact-no footer-contact-row-ele"><i class="fa-solid fa-phone"></i> +91-7739226540</div>
                <div class="footer-contact-email footer-contact-row-ele"><i class="fa-solid fa-envelope"></i>saarthi@contact.in</div>
                <div class="footer-copyright footer-contact-row-ele"><i class="fa-solid fa-copyright"></i>Copyright 2023 - 2024</div>
            </div>
        </div>
    </footer>
    

    <script src="https://cdn.jsdelivr.net/npm/qrious"></script>
    <script>
        // Wait for the DOM to be fully loaded before running scripts
        document.addEventListener('DOMContentLoaded', function() {
            // Get the QR code canvas element from the parent window
            const qrCanvas = document.getElementById('qrcode');
    
            // Retrieve the total amount from hidden input
            const totalAmount = document.getElementById('grand-total-value').value;
            console.log("Total amount: " + totalAmount);
    
            // Display total amount
            document.getElementById('total-amount').innerText += totalAmount;
    
            // Function to send payment request
            function sendPaymentRequest() {
                const payerUpiId = document.getElementById('payer-upi-id').value;
                const paymentAmount = parseFloat(totalAmount);
                const receiverUpiId = 'shivam.pokharkar18@okaxis';
                const uri = "upi://pay?pa=" + receiverUpiId + "&pn=Recipient&tn=Payment%20for%20purchase&am=" + paymentAmount + "&cu=INR&pn=" + payerUpiId;
                window.location.href = uri;
            }
        });
    </script>    
</body>
</html>
